# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Terraform variable files
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# .terraform directories
.terraform/
.terraform.lock.hcl

# Sensitive files
*.auto.tfvars
*.auto.tfvars.json

# Local .plan files
*.tfplan

# Ignore editor/OS files
*.swp
*.swo
.DS_Store
.idea/
.vscode/